<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evampsaanga.evamptesting">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewpagers.ViewPagerMain"/>
        <activity android:name=".tablayout.TabLayoutActivity"/>
        <!--ListView Activities-->
        <activity android:name=".listviews.ListViewMainActivity"/>
        <activity android:name=".listviews.customlistview.CustomListActivity"/>
        <activity android:name=".listviews.expandablelistview.ExpandableListActivity"/>
        <activity android:name=".listviews.spiceexpandablelistview.SpiceExpandableListView"/>
        <activity android:name=".listviews.youtubelistivew.YouTubeMainActivity"/>
        <!--Toolbar Activities-->
        <activity android:name=".toolbars.ToolBarMainActivity"
            android:label="@string/toolbarlabel"
            android:icon="@mipmap/icon_right_arrow"/>
        <activity android:name=".toolbars.ReusingToolBar"/>
        <activity android:name=".toolbars.ScrollingToolBar"
            android:label="@string/toolbar_scrollingToolbar"/>
        <!--Recycler View-->
        <activity android:name=".recyvlerview.help_codepath.RecyclerViewMainActivity"
            android:label="@string/recyclerView_mainactivity"/>
        <activity android:name=".recyvlerview.RecyclerViewMainActivity"
            android:label="@string/recyclerView_mainactivity"/>
        <activity android:name=".recyvlerview.coordinatorlayout.CoordinatorMainActivity"/>
    </application>

</manifest>
